<mat-accordion>
  <mat-expansion-panel *ngFor="let p of projects" (opened)="updateDeviceList(p)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{p.project.name}}
      </mat-panel-title>
      <mat-panel-description>
        <div *ngIf="!p.loading">{{p.project.description}}</div>
        <div *ngIf="p.loading">[fetching device list]</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="container">

      <mat-table *ngIf="p.devices?.length > 0  && p.initialLoaded" #table [dataSource]="p.devices" matSort>

        <!-- id Column -->
        <ng-container matColumnDef="sn">
          <mat-header-cell *matHeaderCellDef> S/N </mat-header-cell>
          <mat-cell *matCellDef="let element"><a routerLink="/entries/{{element.id}}"> {{element.sn}} </a></mat-cell>
        </ng-container>
    
        <!-- date Column -->
        <ng-container matColumnDef="production_date">
          <mat-header-cell *matHeaderCellDef> Production </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.production_date | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>
    
        <!-- hw Column -->
        <ng-container matColumnDef="hwVersion">
          <mat-header-cell *matHeaderCellDef> Hw-Version </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.hwVersion}} </mat-cell>
        </ng-container>
    
        <!-- fw Column -->
        <ng-container matColumnDef="fwVersion">
          <mat-header-cell *matHeaderCellDef> Fw-Version </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fwVersion}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <div *ngIf="!(p.devices?.length) && p.initialLoaded"><p>no devices found</p></div>

    </div>

  </mat-expansion-panel>

</mat-accordion>


