<h2>Device Entries for id {{this.deviceId}}</h2>

<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>What</th>
  </tr>
  <tr *ngFor="let entry of deviceEntries">
    <td>{{entry.date | date:'medium'}}</td>
    <td>{{getType(entry.type)}}</td>
    <td>{{entry.data}}</td>
  </tr>
</table>
<button (click)="goBack()">Back</button>
<button *ngIf="!addEntryVisible" (click)="newEntry()">+</button>

<app-add-device-entry *ngIf="addEntryVisible" [deviceId]="deviceId" (onAdded)="onAdded($event)"></app-add-device-entry>
