<mat-card>
  <mat-card-header>
    <mat-card-title>Add User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="form-box" *ngIf="!isLocked" (ngSubmit)="onSubmit()" #entryForm="ngForm">

      <mat-form-field class="row-full-width">
        <input name="username" placeholder="Username" matInput [formControl]="usernameControl" [(ngModel)]="model.username" />
        <mat-error *ngIf="usernameControl.invalid">{{getUsernameError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="row-full-width">
        <input name="email" placeholder="Email" matInput [formControl]="emailControl" [(ngModel)]="model.email" />
        <mat-error *ngIf="emailControl.invalid">{{getEmailError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="row-full-width">
        <input name="firstname" placeholder="First Name" matInput [formControl]="firstnameControl" [(ngModel)]="model.firstName"
        />
      </mat-form-field>

      <mat-form-field class="row-full-width">
        <input name="lastname" placeholder="Last Name" matInput [formControl]="lastnameControl" [(ngModel)]="model.lastName" />
      </mat-form-field>

      <button (click)="cancel()" class="btn">Cancel</button>
      <button type="submit" class="btn btn-success">Create</button>
    </form>
    <div *ngIf="isLocked"><label>Please wait...</label></div>
  </mat-card-content>
</mat-card>