<mat-card>
  <mat-card-header>
    <mat-card-title>Add User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addUserForm" class="form-box" *ngIf="!isLocked" (ngSubmit)="onSubmit()" #entryForm="ngForm">

      <mat-form-field class="row-full-width">
        <input name="username" placeholder="Username" matInput formControlName="username" />
        <mat-error *ngIf="username.invalid">{{getUsernameError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="row-full-width">
        <input name="email" placeholder="Email" matInput formControlName="email" />
        <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="row-full-width">
        <input name="firstname" placeholder="First Name" matInput formControlName="firstname" />
      </mat-form-field>

      <mat-form-field class="row-full-width">
        <input name="lastname" placeholder="Last Name" matInput formControlName="lastname" />
      </mat-form-field>

      <button (click)="cancel()" class="btn">Cancel</button>
      <button type="submit" class="btn btn-success" [disabled]="addUserForm.invalid || addUserForm.pending">Create</button>
    </form>
    <div *ngIf="isLocked"><label>Please wait...</label></div>
  </mat-card-content>
</mat-card>