<h3>New Entry</h3>
<div>
  <form class="form-box" *ngIf="!isLocked" (ngSubmit)="onSubmit()" #entryForm="ngForm">

    <mat-form-field class="row-full-width" *ngIf="tagsLoaded">
      <mat-select name="type" placeholder="Entry Type" [(ngModel)]="model.type">
        <mat-option *ngFor="let x of typeNames" [value]="x">{{ x }}</mat-option>
      </mat-select>
    </mat-form-field>


    <p *ngIf="!tagsLoaded">Loading tags...</p>

    <mat-form-field class="row-full-width">
      <input name="data" type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="dataInputControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!--
    <mat-form-field class="row-full-width">
      <input name="data" matInput placeholder="{{model.type}}" [(ngModel)]="model.data">
    </mat-form-field>
-->
    <mat-form-field class="row-full-width">
      <input name="date" matInput [matDatepicker]="dp2" placeholder="Date" [(ngModel)]="model.date">
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>

    <button (click)="cancel()" class="btn">Cancel</button>
    <button type="submit " class="btn btn-success ">Submit</button>
  </form>
  <div *ngIf="isLocked"><label>Please wait...</label></div>
</div>
