<h3>New Entry</h3>
<div>
  <form *ngIf="!isLocked" (ngSubmit)="onSubmit()" #entryForm="ngForm">

    <div class="form-group" *ngIf="tagsLoaded">
      <label>Type</label>
      <select name="type" [(ngModel)]="model.type">
       <option  value="" disabled selected>Select type</option>
       <option *ngFor="let x of typeNames" [value]="x">{{x}}</option>
      </select>
    </div>
    <p *ngIf="!tagsLoaded">Loading tags...</p>

    <div class="form-group" *ngIf="model.type && model.type != 'Shippment'">
      <label>{{model.type}}</label>
      <input name="data" [(ngModel)]="model.data" placeholder="{{model.data | lowercase}}" />
    </div>

    <div class="form-group">
      <label>date</label>
      <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
      <owl-date-time #dt></owl-date-time>
    </div>

    <button (click)="cancel()" class="btn">Cancel</button>
    <button type="submit " class="btn btn-success ">Submit</button>
  </form>
  <div *ngIf="isLocked"><label>Please wait...</label></div>
</div>
