/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";


.form-box{
  min-width: 150px;
  max-width: 500px;
   width: 100%;
}

.row-full-width {
  width: 100%;
}
